:root {
  --background-color: #fff;
  --background-color-translucent: #fff9;
  --background-color-three-quarters-transparent: #fff5;
  --background-active-color-quarter-transparent: #ddd5;
  --text-color: #222;
  --highlight-color: #1d5;
  --highlight-hover-color: #2e6;
  --highlight-color-2: #de2;
  --anchor-decoration-color: #333;
  --anchor-decoration-hover-color: #aaa;
  --secondary-color: #777;
}

span.description {
  color: var(--secondary-color);
}
h2, a, strong {
  color: var(--highlight-color);
}
a:hover {
  color: var(--highlight-hover-color);
}

* {
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  max-width: 100%;
  overflow-wrap: anywhere;
  text-align: justify;
  transition: all 0.5s;
}
::selection {
  background: #333;
  color: #ccc;
}
html {
  height: 100%;
}
body {
  background: radial-gradient(circle at 10% 30%, var(--highlight-color-2), transparent 20%),
    radial-gradient(circle at 40% 70%, var(--highlight-color), transparent 60%),
    radial-gradient(circle at 80% 35%, var(--highlight-color-2), transparent 40%),
    radial-gradient(circle at 90% 90%, var(--highlight-color), transparent 30%),
    var(--background-color);
  background-attachment: fixed;
  color: var(--text-color);
  margin: 0;
  min-height: 100%;
}
@supports (background: color-mix(in srgb, #000, transparent 50%)) {
  body {
    background: radial-gradient(circle at 10% 30%, color-mix(in srgb, var(--highlight-color-2), transparent 70%), transparent 20%),
      radial-gradient(circle at 40% 70%, color-mix(in srgb, var(--highlight-color), transparent 60%), transparent 60%),
      radial-gradient(circle at 80% 35%, color-mix(in srgb, var(--highlight-color-2), transparent 40%), transparent 40%),
      radial-gradient(circle at 90% 90%, color-mix(in srgb, var(--highlight-color), transparent 85%), transparent 30%),
      var(--background-color);
    background-attachment: fixed;
  }
}
header {
  background: var(--background-color-translucent);
  box-shadow: 0 0 5px #777;
  position: sticky;
  top: 0;
  z-index: 10;
}
div.header {
  align-items: center;
  display: flex;
  font-size: 16px;
  margin: 0 auto;
  padding: 15px 0;
  width: 1200px;
}
div.header > div.left {
  flex: 1;
  font-size: 24px;
}
div.header > div.left > span.description {
  font-size: 14px;
}
main {
  animation: 0.5s both fadeIn;
  border-radius: 20px;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
  width: 1200px;
}
main.loading {
  animation-name: fadeOut;
}
h2, p {
  margin: 10px 0;
}
div.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  padding: 10px 0;
}
div.grid-item {
  background: var(--background-color-three-quarters-transparent);
  border-radius: 20px;
  box-shadow: 10px 10px 5px #0007;
  padding: 20px;
  position: relative;
}
div.grid-item:hover {
  background: var(--background-color-translucent);
}
div.grid-item:active {
  background: var(--background-active-color-quarter-transparent);
}
div.grid-item a.grid-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
a {
  text-decoration: underline dotted var(--anchor-decoration-color);
  text-decoration-thickness: 2px;
}
a:hover {
  text-decoration-color: var(--anchor-decoration-hover-color);
}
div.header a {
  text-decoration: none;
}
footer {
  color: var(--secondary-color);
  font-size: 16px;
  margin: 10px 10px 0;
  text-align: center;
}

@media (max-width: 1439px) {
  div.header, main {
    width: 900px;
  }
}
@media (max-width: 959px) {
  div.header {
    width: auto;
  }
  div.header > div.left {
    text-align: center;
  }
  div.header > div.left > span.description, div.header > div.right {
    display: none;
  }
  main {
    margin: 10px;
    width: auto;
  }
}
@media (max-width: 767px) {
  div.grid {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: #222;
    --background-color-translucent: #2229;
    --background-color-three-quarters-transparent: #2225;
    --background-active-color-quarter-transparent: #0005;
    --text-color: #ccc;
    --highlight-color: #1c1;
    --highlight-hover-color: #2e2;
    --highlight-color-2: #cd1;
    --anchor-decoration-color: #aaa;
    --anchor-decoration-hover-color: #ccc;
    --secondary-color: #999;
  }
}

/* From Animate.css - https://animate.style/ - MIT License */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
